
services:
  web:
    container_name: web
    build:
      context: .
      dockerfile: ./apps/web/Dockerfile
      args:
        NEXT_PUBLIC_API_URL: http://api:3001/api/v1
    restart: always
    ports:
      - 3000:3000
    depends_on:
      - api
    networks:
      - app_network
  api:
    container_name: api
    build:
      context: .
      dockerfile: ./apps/api/Dockerfile
    volumes:
      - api_data:/app/data
    ports:
      - 3001:3001
    networks:
      - app_network
volumes:
  api_data:
    driver: local

networks:
  app_network:
    driver: bridge
