.responsiveContainer {
  width: 100vw; /* Full width */

  padding-left: 5px;
  padding-right: 5px;

  @media (min-width: 640px) {
    padding-left: 5px;
    padding-right: 5px;
  }

  @media (min-width: 1280px) {
    max-width: 1280px !important; 
  }
}